.form{

    .form-item{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .label{
            font-size: 500;
            margin-right: 8px;
        }
        .content{

        }
    }

}